<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2_1155145472">

    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/cuhk"
        android:label="A1_1155145472"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld">
        <activity
            android:name="com.example.a2_1155145472.activity.MainActivity"
            android:label="IEMS5722"
            android:theme="@style/Theme.HelloWorld.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.a2_1155145472.activity.ChatPage1"
            android:label="Chatroom"
            android:theme="@style/Theme.HelloWorld.NoActionBar"
            android:parentActivityName="com.example.a2_1155145472.activity.MainActivity">
        </activity>
    </application>

</manifest>